NEXT_PUBLIC_GEMFARM_ID_SLIME="2VH31EzQ93fpdNAn49irVUBudjn9pY8uDruM8gKSFTph"
NEXT_PUBLIC_GEMFARM_ID_PIECE="Agg1brwiw7k1bCupH7iXFerqVW8Q1XE3wKWAc9uKqEhv"
NEXT_PUBLIC_GEM_BANK_PROG_ID="bankHHdqMuaaST4qQk6mkzxGeKPHWmqdgor6Gs8r88m"
NEXT_PUBLIC_GEM_FARM_PROG_ID="farmL4xeBFVXJqtfxCzU9b28QACM7E2W2ctT6epAjvE"
NEXT_PUBLIC_GA_ID="UA-210303881-1"
NEXT_PUBLIC_CONNECTION_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_HOST_MAINNET_BETA="https://green-restless-river.solana-mainnet.quiknode.pro/d0edf84e7c18f7ec6c5372c22bac6e765822927f/"
NEXT_PUBLIC_SOLANA_RPC_HOST_DEVNET=https://metaplex.devnet.rpcpool.com/
NEXT_PUBLIC_CANDY_MACHINE_ID=E4vbKz59XJorsCupqS2BA7s6edUHxo8VfL2LpE3fwSvV
NEXT_PUBLIC_SKIP_PREFLIGHT_CHECK=true
